{{#categories}}
    <ul id='{{ handle }}' class='uit-category' data-category='{{ handle }}'>
        <h2 class='uit-category__title'>The {{ name }}s</h2>
        <p class='uit-category__description'>{{ description }}</p>
        {{#entries}}
            <li id='{{ handle }}' class='uit-entry'>
                <h2 class='uit-entry__name'>{{ name }}</h2>
                <h3 class='uit-entry__quick-description'>{{ quickDescription }}</h3>

                {{#hasIllustration}}
<!--                     <img class='uit-entry__portrait' src='{{ path }}/images/{{ handle }}.jpg' /> -->
                    <img class='uit-entry__portrait' src='{{ path }}/assets/placeholder.jpg' />
                {{/hasIllustration}}

                <div class='uit-entry__description'>
                    {{{ description }}}
                </div>
                {{#link}}
                    <a href='{{ link }}' class='uit-entry__button'>Read more <svg class='uit-icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M38.65 25.58L37 27.21 26.79 37.44l-1.1-1.11 8.53-10.19H12.5v-2.28h21.72l-8.53-10.19 1.1-1.1L37 22.79l1.63 1.63v1.16z"/></svg></a>
                {{/link}}

                {{#twitter}}
                    <a href='{{ twitter }}' class='uit-entry__button'>Follow on Twitter <svg class='uit-icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M38.65 25.58L37 27.21 26.79 37.44l-1.1-1.11 8.53-10.19H12.5v-2.28h21.72l-8.53-10.19 1.1-1.1L37 22.79l1.63 1.63v1.16z"/></svg></a>
                {{/twitter}}
            </li>
        {{/entries}}
    </ul>
{{/categories}}