{{#categories}}
    <div class='uit-nav__category uit-nav__category--{{ handle }}'>
        <a href='#{{ handle }}'>
          <h2 class='uit-nav__category-title'>The {{ name }}s</h2>
        </a>
        <div class='uit-nav__entries-wrapper'>
            <ul class='uit-nav__entries'>
                {{#entries}}
                <a href='#{{ handle }}'>
                    <li class='uit-nav__entry'>{{ name }}</li>
                </a>
                {{/entries}}
            </ul>
        </div>
    </div>
{{/categories}}
