<div class='uit'>
    <div class='uit-container'>
        <div class='uit-nav'>
        </div>

        <div class='uit-nav__category-title uit-mobile-nav'>
          <div class="uit-mobile-nav__category-title"></div>
          <div class='uit-share__button uit-dropdown__button'><svg class='uit-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><path d='M36.33 19.99L25 29.48l-11.33-9.49-1.11 1.11 10.23 10.22 1.63 1.63h1.16l1.63-1.63L37.44 21.1l-1.11-1.11z'/></svg></div>
        </div>

        <div class='uit-main'>
            {{> partials/intro }}
            <div class='uit-loading'>
                <h3 class='uit-loading__title'>Loading the 200</h3>
                <img class='uit-loading__loader' src='{{ path }}/assets/loading.gif' />
            </div>
        </div>
        <span> {{> partials/credits }} </span>
    </div>
</div>

<script async src='{{ path }}/app.js'></script>
