<div class='uit-intro'>
    <div class='uit-intro__section'>
        <div class='uit-intro__image-wrapper'>
            <img class='uit-intro__image' src='{{ path }}/assets/freddie.jpg' />
        </div>
        <div class='uit-intro__content'>
            <h1 class='uit-intro__headline'>The<br />Frederick<br /> Douglass<br /></h1>
            <h1 class='uit-intro__number'>200</h1>
            <h2 class='uit-intro__standfirst'>On the occasion of his bicentennial, a list of 200 people who best embody the spirit and work of Frederick Douglass, one of the most influential figures in history</h2>
            {{> partials/share }}
        </div>
    </div>

    <div class='uit-intro__copy'>
        <p>This year is Frederick Douglass’s Bicentennial celebration. After escaping slavery at the age of 20, Douglass went on to become one of America's most celebrated abolitionists - tirelessly campaigning against slavery. Beyond his abolitionist work, Douglass was also a politician, writer, feminist, educator, entrepreneur and diplomat.</p>

        <p>The Frederick Douglass 200 is a project to honor the impact of 200 living individuals who best embody the work and spirit of Douglass across those areas where he had such an impact - abolitionist, politician, writer, feminist, educator, entrepreneur and diplomat.</p>

        <p>The FD200 has been curated and compiled by the Frederick Douglass Family Initiatives and the Antiracist Research and Policy Center at American University in Washington DC, and the Guardian is pleased to partner with them to publish this list. Each week, between now and November, we will publish a list of 10 new people who have joined the FD200. All awardees will be honored at the Library of Congress in Washington DC on Douglass's next birthday, February 14, 2019.</p>

        <p><em>- Kenneth Morris, great-great-great grandson of Frederick Douglass</em></p>

        <p class='uit-intro__new'>
            
        </p>
    </div>
</div>