<div class='uit-intro'>
    <h1 class='uit-intro__headline'>Frederick Douglass 200</h1>
    <h2 class='uit-intro__standfirst'>TK TK TK TK celebrating the modern-age 200 who are continuing Frederick's work, two centuries on</h2>

    {{> partials/share }}

    <div class='uit-intro__copy'>
        <p>This year is Frederick Douglass’s Bicentennial celebration. Not knowing exactly when he was born, Douglass chose February 14, 1818 to celebrate his birthday.</p>
    
        <p>He began his life in bondage as the son of an enslaved woman and, it’s presumed, her white master. He defied the both odds and learned how to read and write thanks, in large part, to his extraordinary wit and will. He escaped slavery at the age of 20 with borrowed documents and a sailor’s uniform. He went on to become a celebrated author, publisher and an adviser to presidents. Frederick Douglass is, without qualification, one of the most accomplished and influential citizens this country has ever known.</p>
    
        <p>As the great-great-great grandson of Frederick Douglass, I’m privileged to announce a collaborative project initiative that observes his Bicentennial by honoring others, which I believe is the best way to honor him. He spent his adult life freedom fighting for an inclusive America, a just America, a robust America not just for Africans Americans, but for all. I think it is fitting to honor him bythrough recognizing today’s freedom fighters who are striving in the tradition of Douglass.</p>
    
        <p>Frederick Douglass Family Initiatives (FDFI) and American University’s Antiracist Research and Policy Center (ARPC) have named 200 Americans who best embody the spirit and the work of Douglass. We call the project and the distinguished individuals being honored, The Frederick Douglass 200, or The FD200 for short. </p>
    
        <p>Considering the honorees have now been chosen, I’m able to give you some idea of who they are. They are Abolitionists organizing and speaking out against injustice, often times at risk of their careers or even their own lives. The risk of Douglass being re-enslaved did not stop him from becoming America’s most influential Black male abolitionist.</p>
    </div>
</div>