.uit-category {
    margin: 0;
    list-style: none;
}

.uit-category__content {
    border-top: 2px solid $c-black;
    border-left: 1px solid $c-black;
    background-color: $c-white;
    padding: 4px 8px;
    margin-bottom: 24px;
}

.uit-category__title {
    @include banding($c-light-red);
    font-size: 32px;
    color: $c-white;
    font-weight: normal;
    font-family: 'Guardian Figures';
    margin-bottom: 4px;
}

.uit-category__description {
    margin-bottom: 12px;
}

.uit-entry {
    padding-bottom: 48px;
}

.uit-entry__name,
.uit-entry__quick-description {
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 26px;
    line-height: 1.3;
    color: $c-red;
    margin: 0;
}

.uit-entry__quick-description {
    font-style: italic;
}

.uit-entry__portrait {
    max-height: 400px;
    margin: 0 auto;
    display: block;
}

.uit-entry__description {
    margin-top: 4px;
    margin-bottom: 12px;
}

.uit-entry__button {
    @include button($c-white, $c-red);
}
