.uit-category {
    margin: 0;
    padding: 0;
    list-style: none;
}

.uit-category__content {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $c-light-orange;
}

.uit-category__title {
    @include banding($c-light-orange);
    font-size: 32px;
    color: $c-white;
    font-weight: normal;
    font-family: 'Guardian Figures';
    margin-bottom: 4px;
    margin-top: 0;

    @include mq(tablet) {
        font-size: 42px;
    }
}

.uit-category__description {
    margin-bottom: 12px;

    p {
        margin: 0 0 12px;
    }
}

.uit-entry {
    padding-bottom: 24px;
    border-bottom: 1px solid $c-light-orange;
    margin-bottom: 24px;
    overflow: auto;
}

.uit-entry__header {
    padding-bottom: 12px;

    @include mq(tablet) {
        float: left;
        padding-bottom: 24px;
        padding-right: 20px;
        padding-top: 3px;
        width: 220px;
    }
}

.uit-entry__name,
.uit-entry__quick-description {
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    color: $c-black;
    margin: 0;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.uit-entry__quick-description {
    font-style: italic;
    color: $c-light-orange;
}

.uit-entry__portrait {
    max-width: 240px;
    display: block;
}

.uit-entry__description {
    margin-top: 4px;
    margin-bottom: 12px;
}

.uit-entry__button {
    @include button($c-light-orange, $c-background);
    font-size: 14px;
    border: 1px solid $c-light-orange;
    padding: 5px 32px 2px 8px;
    margin-top: 6px;

    &:hover {
        background-color: $c-light-orange;
        color: $c-white;

        svg path{
            fill: $c-white;
        }
    }
}
