.uit-list-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    max-height: 600px;
    margin-bottom: 100px;

}

.uit-list-column {
  background-color: $c-light-grey;
  color: $c-brown;
  flex: 1;
  overflow: auto;
  height: 800px;

  li {
    background-color: $c-dark-red;
    margin-bottom: 5px;
    min-height: 80px;
  }
}

.uit-list-search {
  position: sticky;
  top: 0;
}

.uit-top-bar {
  z-index: 10;
  top: 0;
  position: sticky;
  background-color: $c-white;
}


.uit-list-content
{
  display: flex;
  position: relative;
}

.uit-focus-column {
  background-color: $c-grey;
  flex: 1;
}
