.uit-list-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 600px;
    overflow: scroll;
}

.uit-list-column {
  background-color: $c-light-grey;
  color: $c-brown;
  flex: 1;
  height: 1000px;
  overflow: scroll;

  li {
    background-color: $c-dark-red;
    margin-bottom: 5px;
    min-height: 50px;
  }
}

.uit-top-bar {
  z-index: 10;
  top: 0;
}

.uit-list-content
{
  display: flex;
  position: relative;
}

.uit-focus-column {
  background-color: $c-grey;
  flex: 1;
  height: 600px;
}
