.uit-loading {
    max-width: 620px;

    &.is-loaded {
        display: none;
    }
}

.uit-loading__loader {
    margin: 0 auto;
}

.uit-loading__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 400;
    color: $c-black;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
}