.uit-category {
    max-width: 620px;
}

.uit-nav__category {
    margin-bottom: 6px;
    overflow: hidden;
}

.uit-nav__category-title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 26px;
}

.uit-nav__entries-wrapper {
    position: relative;
    transition: all .8s ease-in-out;
    will-change: max-height;
    will-change: height;
    overflow: hidden;
    max-height: 0;
    visibility: hidden;

    @include mq(tablet) {
      column-count: 1;
    }

    @include mq(desktop) {
      column-count: 2;
    }
}

.uit-nav__entries {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    column-gap: 20px;
}

.uit-highlighted {
    .uit-nav__category-title {
        font-weight: 700;
    }

    .uit-nav__entries-wrapper {
        max-height: 1000px;
        visibility: visible;
        transition-delay: .4s;
    }
}
