.uit-category {
    max-width: 620px;
}

.uit-nav__category {
    margin-bottom: 6px;
    overflow: hidden;

    a {
        text-decoration: none;
    }
}

.uit-nav__category-title {
    font-family: 'Guardian Figures';
    font-weight: normal;
    font-size: 26px;
    line-height: 1.5;
    color: $c-black;
    margin: 0;

    @include mq(tablet) {
        font-size: 18px;
        display: inline-block;
        padding: 0 3px;
    }

    @include mq(desktop) {
      font-size: 24px;
    }
}

.uit-nav__category-title:hover{
  color: $c-light-orange;
  text-decoration: none;
}

.uit-nav__entries-wrapper {
    position: relative;
    transition: all .8s ease-in-out;
    will-change: max-height;
    will-change: height;
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    padding-left: 3px;
}

.uit-nav__category:hover {
  text-decoration: none;

    .uit-nav__entries-wrapper {
        max-height: 1000px;
        visibility: visible;
    }
}

.uit-nav__entries {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    column-gap: 20px;

    @include mq(tablet) {
      column-count: 1;
    }

    @include mq(desktop) {
      column-count: 2;
    }
}

.uit-nav__entry {
    color: $c-black;
    font-family: 'Guardian Egyptian Web';
    font-weight: 400;
    margin: 0;
}

.uit-nav__entry:hover {
    color: #ff4e36;
}

.uit-highlighted {
    .uit-nav__category-title {
        color: $c-white;
        background-color: $c-light-orange;
        transition: background-color 0.4s ease,
                    font-size .5s ease;

        @include mq(tablet) {
            font-size: 22px;
            line-height: 1.3;
        }

        @include mq(desktop) {
            font-size: 28px;
        }
    }

    .uit-nav__entries-wrapper {
        max-height: 1000px;
        visibility: visible;
        transition-delay: .4s;
    }
}

.uit-nav__hidden {
    visibility: hidden;

    @include mq(tablet) {
        visibility: visible;
    }
}

.uit-nav__mobile {

    .uit-nav__entries-wrapper {
        visibility: visible;
        max-height: 1000px;
    }
}

.uit-dropdown__button {
    margin-top: 4px;
    margin-bottom: 4px;
    float: right;
    transition: transform .4s ease-in-out;
}

.nav-is-expanded {
    @include mq($until: tablet) {
        .uit-nav {
            transform: translateY(0);
        }

        .uit-nav__entries-wrapper {
            visibility: visible;
            max-height: 1000px;
        }

        .uit-dropdown__button {
            transform: rotate(180deg);
        }
    }
}

.uit-nav__furniture {
    position: absolute;
    bottom: 12px;
    padding-top: 60px;
    font-family: 'Guardian Figures';
    font-weight: normal;
    font-size: 22px;
    color: $c-black;
}

#uit-nav__random {
    padding-bottom: 60px;
}

a:hover, a:focus {
    text-decoration: none;
}
