.uit-nav__category {
    margin-bottom: 6px;
}

.uit-nav__category-title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 26px;
}

.uit-nav__entries {
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    column-gap: 20px;
}
