.uit-nav {
    @include mq(mobile) {
      display: none;
    }

    @include mq(tablet) {
        display: block;
        min-height: 100vh;
        width: 240px;
        position: fixed;
        top: 0;
        padding-top: 48px;
        border-right: 1px solid $c-light-red;
    }

    @include mq(desktop) {
      width: 320px;
    }
}

.uit-mobile-nav {
  top: 0;
  font-weight: 700 !important;
  width: 96%;
  z-index: 100;
  overflow: scroll;

  @include mq(mobile) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: $c-white;
  }

  @include mq(tablet) {
    display: none;
  }
}

.uit-main {
    scroll-behavior: smooth;

    @include mq(tablet) {
      margin-left: 200px;
    }

    @include mq(desktop) {
      margin-left: 340px;
    }
}
