.uit-nav {
    @include mq($until: tablet) {
        display: block;
        position: fixed;
        background-color: $c-white;
        top: 41px;
        z-index: 100;
        width: 100%;
        left: 0;
        right: 0;
        height: calc(100vh - 41px);
        padding: 0 10px;
        transform: translateY(-100%);
        transition: transform 0.4s linear;
        overflow-y: scroll;
    }

    @include mq(mobileLandscape, tablet) {
        padding: 0 20px;
    }

    @include mq(tablet) {
        display: block;
        min-height: 100vh;
        width: 200px;
        position: fixed;
        top: 0;
        padding-top: 48px;
        border-right: 1px solid $c-light-red;
    }

    @include mq(desktop) {
      width: 320px;
    }
}

.uit-mobile-nav {
    top: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: $c-white;
    padding: 0 10px;

    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    @include mq(tablet) {
        display: none !important;
    }
}

.uit-main {
    scroll-behavior: smooth;

    @include mq(tablet) {
      margin-left: 220px;
    }

    @include mq(desktop) {
      margin-left: 340px;
    }
}

.uit-credits {
  @include mq(tablet) {
    margin-left: 240px;
  }

  @include mq(desktop) {
    margin-left: 340px;
  }
}
